<form (ngSubmit)="searchClients(form)" #form="ngForm">
  <div class="row">
    <div class="col-sm-3">
      <label>
        <input type="text"
               class="form-control custom-input"
               placeholder="ClientID"
               name="clientID"
               ngModel
               autofocus>
      </label>
    </div>
    <div class="col-sm-1">
      <label>
        OR
      </label>
    </div>
    <div class="col-sm-3">
      <label>
        <input type="text"
               class="form-control custom-input"
               placeholder="Name"
               name="name"
               ngModel>
      </label>
    </div>
    <div class="col-sm-2">
      <button
        class="btn btn-default"
        >
        Search
      </button>
    </div>
  </div>
</form>
