<h3>Client Details</h3>
<div class="row">
  <div class="col-xs-12">
    <h4>Client ID: {{client.client_id}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Name: {{client.name}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Gender: {{client.gender}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Age: {{client.age}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>City: {{client.city}}</h4>
  </div>
</div>
<div *ngIf="client.gold_membership_status != undefined"  class="row">
  <div class="col-xs-12">
    <h4>Golden Membership Status: {{client.gold_membership_status}}</h4>
  </div>
</div>
<div *ngIf="client.is_eligibility != undefined" class="row">
  <div class="col-xs-12">
    <h4 [ngStyle]="{color: getColour()}">Eligibility Status: {{client.is_eligibility}}</h4>
  </div>
</div>
<div *ngIf="client.maximum_monthly_payment != undefined" class="row">
  <div class="col-xs-12">
    <h4>Maximum Monthly Payment: ${{client.maximum_monthly_payment}}</h4>
  </div>
</div>
