<h1>SaskFund</h1>
<hr>
<div class="container-fluid">
  <div class="form-group">
    <app-search-clients></app-search-clients>
  </div>
  <hr>
  <div class="wrapper container-fluid">
    <div class="row">
      <div class="col-sm-5 nopadding">
        <app-clients-list></app-clients-list>
      </div>
      <div class="col-sm-7 nopadding">
        <app-client-details *ngIf="selectedClient; else infoText"
                            [client]="selectedClient"></app-client-details>
        <ng-template #infoText>
          <p>Please select a client to view the details</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
